@model NaftanRailway.Domain.BusinessModels.Shipping
@{
    Layout = null;
}
  
<div data-role="collapsible" data-collapsed="false" data-content-theme="c">
    <h2>
        <span><strong>@Model.VOtpr.n_otpr @(Model.VOtpr.oper == 1  ? "Отправка" : "Прибытие")</strong></span>
    </h2>
    <div class="ui-grid-b">
        <div class="ui-block-a">
            @Model.VOtpr.date_oper.Value.ToString("d MMM yyyy")
        </div>
        <div class="ui-block-b">
            <span class="pull-right"><small>@Model.VOtpr.fio_tk</small></span>
        </div>
        <div class="ui-block-c">
            @using (Html.BeginForm("AddRow","Storage")) {
                @Html.HiddenFor(x => x.VOtpr.id)
                @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
                <input type="submit" data-inline="true"data-mini="true" value="Добавить" />        
            }
        </div>
    </div>
</div>