@model InputMenuViewModel
@{
    Layout = null;
    //SessionStorage storage = new SessionStorage();
    Html.EnableClientValidation(false);
    var browserInfo = ViewBag.BrowserInfo;
    var userName = ViewBag.UserName;
}
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 navbar-header">
                <a tabindex="0" class="navbar-brand" href="#" style="outline: 0;"
                   data-bind="popover:{ title: 'Цех 18: Получение первичных документов<br/>по номеру накладной:', content: 'Технические особенности: <br/>@browserInfo', placement: 'bottom'}">
                    <img alt="Brand" id="Brand" src="@Url.Content("~/Content/Images/vagon.gif")" class="img-responsive" />
                </a>
            </div>
            <div class="col-md-6">
                @using (@Html.BeginForm("Index", "Ceh18", FormMethod.Post, new { @class = "form-inline navbar-form navbar-left", role = "form", data_bind = "submit: $root.searchInvoice" })) {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group col-md-4">
                        <div data-bind="datepicker: { observable: $root.reportPeriod }" class="input-group date">
                            @Html.TextBoxFor(m => m.ReportPeriod, new { data_bind = "event: {change: $root.init.bind($root, null)}", @class = "form-control", type = "text", @readonly = "readonly", @Value = Model.ReportPeriod.ToString("MMMM yyyy") })
                            <span data-bind="popover:{ content: 'Выбрать отчётный период (месяц)', placement: 'bottom'}" class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-7" style="float:left;">
                        <div class="input-group col-md-6">
                            @Html.TextBoxFor(m => m.ShippingChoise,
                                new {
                                    @class = "form-control ui-autocomplete-input",
                                    placeholder = "Поиск",
                                    data_bind = "textinput: $root.invoice, " +
                                                "jqAutoComplete : {" +
                                                    "data: { shippingChoise: $root.invoice, ReportPeriod: moment($root.reportPeriod(),'01-MM-YYYY').format('01.MM.YYYY') }," +
                                                    "url:'" + @Url.Action("SearchNumbershipping", "Ceh18") +
                                                "'}, " +
                                                "event : {" +
                                                    "dblclick: function (data, event) { $root.invoice (undefined); return; }, " +
                                                "}"
                                })
                            <span class="input-group-btn">
                                <button data-bind="popover:{ content: 'Поиск накладной по номеру'}" type="submit" class="btn btn-default" id="searchBtn">
                                    <!--data-toggle="modal" data-target="#previewDeliveryModal"-->
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!--Update existed info-->
                        <button data-bind="btnRefresh: $root.loadingState(), popover:{ content: 'Обновить данные'}, click: $root.updateExists.bind($context, {url: '@Url.Action("UpdateExists", "Ceh18")'})" class="btn btn-success" type="button" id="updateBtn">
                            <span id="updRefresh" class="glyphicon glyphicon-refresh">
                                <img id="updLoading" alt="Loading..." src="~/Content/Images/loadingArrow.gif" style="width: 1em; height: 1.3em; display: none;" />
                            </span>
                        </button>
                        <!--Estimated Carriage-->
                        <button data-bind="popover:{ content: 'Ожидамые к прибытию вагоны'},
                                    click: $root.getEstimatedCarriages.bind($context, {url: '@Url.Action("Overview", "Ceh18")'})" class="btn btn-info" type="button" id="estBtn">
                            <span id="estRefresh" class="fa fa-train fa-fw">
                                <img id="estLoading" alt="Loading..." src="~/Content/Images/loadingArrow.gif" style="width: 1em; height: 1.3em; display: none;" />
                            </span>
                        </button>
                    </div>
                }
            </div>

            <div class="col-md-3">
                <ul class="nav navbar-nav navbar-right">
                    @if (@User.Identity.Name != string.Empty) {
                        <li><a style="word-wrap:break-word;" href="#">@userName <span class="glyphicon glyphicon-user"></span></a></li>
                    }
                    <li data-bind="css: {disabled: appRail.DispatchsVM.dispatchs().length == 0 }" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-save-file"></span>Excel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-bind="popover:{ content: 'Отчёт по цеху 18', placement: 'left'}">
                                <a class="excelExport" data-bind="attr: {'href': '@Url.Action("guild18", "Report", new { reportName = "krt_Naftan_guild18Report"  })/' + moment(appRail.DispatchsVM.reportPeriod()).format('01-MM-YYYY') }">Отчёт</a>
                            </li>
                            <li data-bind="popover:{ content: 'Реестр первичных документов по цеху 18', placement: 'left'}">
                                <a class="excelExport" 
                                   data-bind="attr: {'href': '@Url.Action("guild18", "Report", new { reportName = "krt_Naftan_Registerguild18"  })/' + moment(appRail.DispatchsVM.reportPeriod()).format('01-MM-YYYY') }">Реестр</a>
                            </li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="@Url.Action("Index", "Storage")">
                                Итог:<span style="margin-left: 0.1em;">@storage.Lines.Count()</span>
                                <span class="glyphicon glyphicon-floppy-open"></span>
                            </a>
                        </li>
                        <li><a href="@Url.Action("Logout", "Account")">Выйти<span class="glyphicon glyphicon-log-out" style="margin-left: 0.3em;"></span></a></li>*@
                </ul>
            </div>
        </div>
    </div>
</div>