@*@using NaftanRailway.Domain.BusinessModels*@
@model InputMenuViewModel
@{
    Layout = null;
    //SessionStorage storage = new SessionStorage();
    Html.EnableClientValidation(false);
}
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" id="Brand" src="~/Content/Images/vagon.gif" />
                </a>
            </div>
            <div class="col-md-5">
                @using (@Ajax.BeginRouteForm("Path_Full", new RouteValueDictionary() { { "controller", "Ceh18" }, { "action", "Index" } },
        new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "previewDeliveryModal", OnSuccess = "findResult" },
        new { @class = "form-inline navbar-form navbar-left", role = "form" })) {
                    <div class="form-group col-md-5">
                        <div class="input-group date datepicker">
                            @Html.TextBoxFor(m => m.ReportPeriod, new { @class = "form-control", type = "text", @readonly = "readonly", @Value = Model.ReportPeriod.ToString("MMMM yyyy") })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    @Html.ValidationSummary();
                    <div class="form-group col-md-7">
                        <div class="input-group col-md-9">
                            @Html.TextBoxFor(m => m.ShippingChoise, new { @class = "form-control ui-autocomplete-input", placeholder = "Поиск" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="searchBtn">
                                    <!--data-toggle="modal" data-target="#previewDeliveryModal"-->
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <button class="btn btn-success" type="button" id="updateBtn"><span class="glyphicon glyphicon-refresh"></span></button>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <ul class="nav navbar-nav navbar-right">
                    @if (@User.Identity.Name != string.Empty) {
                        <li><a href="#">@User.Identity.Name <span class="glyphicon glyphicon-user"></span></a></li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-save-file"></span>Excel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="excelExport" href="@Url.Action("Guild18", "Report", new {reportName = "krt_Naftan_Guild18Report", reportPeriod = Model.ReportPeriod.Date.ToString("01-MM-yyyy")})">Отчёт</a></li>
                            <li><a class="excelExport" href="@Url.Action("Guild18", "Report",new {reportName="krt_Naftan_RegisterGuild18",reportPeriod=Model.ReportPeriod.Date.ToString("01-MM-yyyy") })">Реестр</a></li>
                        </ul>
                    </li>
                    @*<li>
                        <a href="@Url.Action("Index", "Storage")">
                            Итог:<span style="margin-left: 0.1em;">@storage.Lines.Count()</span>
                            <span class="glyphicon glyphicon-floppy-open"></span>
                        </a>
                       </li>
                    <li><a href="@Url.Action("Logout", "Account")">Выйти<span class="glyphicon glyphicon-log-out" style="margin-left: 0.3em;"></span></a></li>*@
                </ul>
            </div>
        </div>
    </div>
</div>