@using NaftanRailway.Domain.BusinessModels
@model InputMenuViewModel
@{
    Layout = null;
    SessionStorage storage = new SessionStorage();
}
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" id="Brand" src="~/Content/Images/vagon.gif"/>
                </a>
            </div>
            <div class="col-md-5">
                @using (@Ajax.BeginRouteForm("Path_Full",new RouteValueDictionary() { {"controller","Ceh18"}, {"action","Index"} },
                    new AjaxOptions() {HttpMethod = "Get",OnSuccess = "",InsertionMode = InsertionMode.Replace,UpdateTargetId = ""},
                    new { @class = "form-inline navbar-form navbar-left", role = "form" })) {
                    <div class="form-group col-md-5" id="sandbox-container">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.ReportPeriod, new {
                                @class = "form-control", type = "text", @readonly = "readonly",
                                @Value = (Model.ReportPeriod != null) ? Model.ReportPeriod.Value.ToString("MMMM yyyy") : DateTime.Today.ToString("MMMM yyyy").ToLower()
                            })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-md-7">
                        <div class="input-group col-md-9">
                            @Html.TextBoxFor(m => m.ShippingChoise, new {@class = "form-control ui-autocomplete-input", placeholder = "Поиск"})
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="searchBtn">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span> 
                        </div>
                        <button class="btn btn-info" id="addInfoBtn"><span class="glyphicon glyphicon-book"></span></button>
                    </div>
                } 
            </div>
            <div class="col-md-4">
                <ul class="nav navbar-nav navbar-right">
                    @if (@User.Identity.Name != string.Empty) { 
                        <li><a href="#">@User.Identity.Name <span class="glyphicon glyphicon-user"></span></a></li>
                    }
                    <li><a href="@Url.Action("Logout", "Account")">Excel<span class="glyphicon glyphicon-save-file" style="margin-left: 0.3em;"></span></a></li>
                    <li><a href="@Url.Action("Index", "Storage")">Итог:<span style="margin-left: 0.1em;">@storage.Lines.Count()</span>
                            <span class="glyphicon glyphicon-floppy-open"></span></a>
                    </li>
                    <li><a href="@Url.Action("Logout", "Account")">Выйти<span class="glyphicon glyphicon-log-out" style="margin-left: 0.3em;"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>