@using NaftanRailway.Domain.BusinessModels.BussinesLogic
@model InputMenuViewModel
@{
    Layout = null;
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}
@if (Model.TypesOfOperation.Any()) {
    <div class="@wrapperClasses">
        <ul class="list-group">
            <li class="list-group-item @(EnumOperationType.All.ToString() == Model.SelectedOperCategory ? " active" : "")">
                @*<span class="badge" id="bangeTotal"></span>*@
                @Ajax.RouteLink(@"Все",
                    new {
                        operationCategory = (EnumOperationType.All).ToString(),
                        page = 1,
                        reportPeriod = Model.ReportPeriod.ToString("MMyyyy"),
                        templateNumber = Model.ShippingChoise ?? ""
                    }, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "infoArea" },
                    new { @class = (horizontal ? "btn btn-default btn-sm" : "list-group-item-text") })
            </li>

            @foreach (short? link in Model.TypesOfOperation) {
                if (link != null) {
                    <li class="list-group-item @(((EnumOperationType) link).ToString() == Model.SelectedOperCategory ? " active" : "")">
                        @*<span class="badge" id="@(link == 1 ? "bangeSending" : "bangeArrivals")"></span>*@
                        @Ajax.RouteLink(link == 1 ? @"Отправка" : @"Прибытие",
                            new {
                                operationCategory = ((EnumOperationType)link).ToString(),
                                page = 1,
                                reportPeriod = Model.ReportPeriod.ToString("MMyyyy"),
                                templateNumber = Model.ShippingChoise ?? ""
                            }, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "infoArea" },
                            new { @class = (horizontal ? "btn btn-default btn-sm" : "list-group-item-text") })
                    </li>
                }
            }
        </ul>
    </div>
}