@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <base href="@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="P. Chizhikov" />
    <meta name="Description" content="Railway project" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="180" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/Contents/cssbundle")
    <link rel="shortcut icon" href="../../Content/Images/AWT-Train.ico" type="image/x-icon" />
</head>
<body>
    <div class="navbar navbar-inverse">
        @{
            if(User.Identity.IsAuthenticated) {
            <span class="navbar-right navbar-text col-md-2 text-center">Здравстуйте @User.Identity.Name</span>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    <li>@Html.ActionLink("Приступить к работе", "Index", "Ceh18")</li>
                </ul>
            </div>
            } else {
                if(User.IsInRole("Admin")) {
            @Html.ActionLink("Войти", "Login", "Account")
            @Html.ActionLink("Регистрация", "Register", "Account")
                }

            }
        }
    </div>
    <div class="row panel">
        @if(TempData["message"] != null) {
            <div class="raw alert alert-success">@TempData["message"]</div>
        }
        <div class="col-xs-12">
            @RenderBody()
        </div>
    </div>
<!--[if lte IE 8]>
    @Scripts.Render("~/bundles/JQuery1")
    @Scripts.Render("~/bundles/Jquery")
    @Scripts.Render("~/bundles/BootstrapIE8")
    @Scripts.Render("~/bundles/UserFunctions")
<![endif]-->
<!--[if !IE 8]><!-->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/JQuery2")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/Jquery")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/UserFunctions")
<!--<![endif]-->

    @RenderSection("scripts", required: false)
</body>
</html>
