@using System.Web.Optimization
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <base href="@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="P. Chizhikov" />
    <meta name="Description" content="Railway project" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="1500" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/Content/cssbundle")
    <link rel="shortcut icon" href="~/Content/Images/AWT-Train.ico" type="image/x-icon" />
</head>

<body>
    <div>
        @{Html.RenderAction("GeneralMenu", "Navigation");}
        <!--<div class="visible-xs">@{ Html.RenderAction("MenuTypeOperations", "Navigation", new { horizontalLayout = true }); }</div>-->

        <div class="row">
            @if (TempData["message"] != null) {
                <div class="alert alert-success">@TempData["message"]</div>
            }
        </div>
        <div class="container-fluid" id="Guild18Body">@RenderBody()</div>
    </div>

    <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/JQuery1")
        @Scripts.Render("~/bundles/Jquery")
        @Scripts.Render("~/bundles/BootstrapIE8")
        @Scripts.Render("~/bundles/UserFunctions")
    <![endif]-->
    <!--[if !IE 8]><!-->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/JQuery2")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/Jquery")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/UserFunctions")
    <!--<![endif]-->
    <script type="text/javascript" src="~/Scripts/_Guild18.js" defer></script>
    @RenderSection("scripts", required: false)
</body>
</html>
