@using System.Web.Mvc.Html
@using NaftanRailway.WebUI.Areas.NomenclatureScroll.Models
@using NaftanRailway.WebUI.ViewModels
@model DetailModelView
@{
    PagingInfo pageInfo = Model.PagesInfo;
    int numberScroll = Model.Scroll.NKRT;
    DateTime reportYear = Model.Scroll.DTBUHOTCHET;

    pageInfo.AjaxOptions = new AjaxOptions() {
        HttpMethod = "Get",
        UpdateTargetId = "chargeOfList",
        InsertionMode = InsertionMode.Replace,
        Url = Url.Action("ScrollDetails", "Scroll",new {numberScroll = Model.Scroll.NKRT,reportYear = reportYear.Year, page = 1 })
    };
    pageInfo.RoutingDictionary = new RouteValueDictionary { { "controller", "Scroll" }, { "action", "Index" },{ "numberScroll", numberScroll}, { "reportYear", reportYear.Year}};
}

<table id="DetailsTable" class="small table table-hover table-responsive table-striped table-condensed table-bordered">
    <caption>
        <h3 class="text-center control-label">
            @String.Format(@"Перечень №{0} ", @numberScroll)<br />
            <span class="small">
                @String.Format(@"поступил в электронном виде из ОРЦ {0} г. Общее кол-во выбранных записей: {1}", @reportYear.ToShortDateString(), @pageInfo.TotalItems)
            </span><br />
        </h3>
    </caption>
    <thead class="tableHeader">
        <tr>
            <th class="text-center">Карточка<br />(NKRT)<span class="glyphicon glyphicon-filter"></span></th>
            <th class="text-center">Тип<br /><span style="white-space: nowrap">док.</span><span class="glyphicon glyphicon-filter"></span></th>
            <th class="text-center">Вид<br /><span style="white-space: nowrap">сбора<span class="glyphicon glyphicon-filter"></span></span></th>
            <th class="text-center">DT</th><th class="text-center">NOMOT</th>
            <th class="text-center">Сумма без НДС</th><th class="text-center">Сумма НДС</th>
            <th class="text-center">Сумма</th><th class="text-center">Ставка НДС</th>
            <th class="text-center">txt<br/>OРЦ</th><th class="text-center">Наименование сбора</th>
            <th class="text-center">ID_ED<br/>ОРЦ</th><th class="text-center">ID_ED<br/>САПОД</th>
            <th class="text-center">textm<br />САПОД</th>
            <th class="text-center">date<br />raskr</th><th class="text-center">num_doc</th>
            <th class="text-center">kol</th><th class="text-center">summa</th>
            <th class="text-center">nds</th>
        </tr>
        <!--Grid filter-->
        <tr class="filter-menu">
            <th colspan="19">
                @using (Ajax.BeginForm("ScrollDetails", "Scroll", new { controller = "Scroll", action = "ScrollDetails", numberScroll, reportYear.Year, page = 1 }
                    , new AjaxOptions() {
                        HttpMethod = "Post",
                        UpdateTargetId = "DetailsTable",
                        OnSuccess = "filterMenu"
                    }, new { @class = "form-inline" })) {
                    @Html.Hidden("numberScroll", numberScroll)
                    @Html.Hidden("reportYear", reportYear.Year)

                    <div id="filterForm">@{ Html.RenderPartial("_FilterMenu", Model.Filters);}</div>
                    <button type="submit" class="form-control btn btn-primary pull-left" style="margin-left: 0.5em;">Фильтр</button>
                }
            </th>
        </tr>
    </thead>
    <tbody class="text-center" id="chargeOfList">
        @{ Html.RenderPartial("_KrtNaftan_ORC_SAPODRows", @Model.CollDetails);}
    </tbody>
    <tfoot>
        <tr>
            <!--Ajax paging-->
            <th colspan="19">
                &copy; 2016 ОАО "Нафтан"
                <span class="ajaxPagging">
                    @{ Html.RenderPartial("_AjaxPagging", pageInfo);}
                </span>
            </th>
        </tr>
    </tfoot>
</table>
<div id="loadingInfiniteScroll" class="text-center" style="display: none">
    <img alt="Загрузка..." src='@Url.Content("~/Content/Images/Gear.gif")'>
</div>
<!--Don't support in partioal view (this html helper alternative-->
@Html.Script(@<script type="text/javascript" src="~/Scripts/NomenclatureJs/_Scrolls.js" defer></script>)

<!--Simple link pagging-->
@*@if(Request.UserAgent != null && Regex.IsMatch(Request.UserAgent,@"MSIE 7")){
    <div class="bottom-right pull-right">
        @Html.PageLinks(pageInfo, 21, x => Url.RouteUrl("DetailsRoutesWithParams",
            new RouteValueDictionary(){
                {"numberScroll",ViewBag.nper},
                {"reportYear",@ViewBag.DtBuhOtchet.Year},
                {"page", x}
            }))
    </div>
}*@