@using System.Collections
@model IEnumerable<NaftanRailway.WebUI.Areas.NomenclatureScroll.Models.CheckListFilterModel>
@{
    int i = 0;
}
@foreach (var item in Model) {
    var menuItem = item;
    <div id=@(menuItem.SortFieldName + "block") style="display: inline-block; float: left;">
        @Html.Hidden("filters[" + i + "].ActiveFilter", item.ActiveFilter)
        @Html.Hidden("filters[" + i + "].SortFieldName", item.SortFieldName)
        @Html.Hidden("filters[" + i + "].NameDescription", item.NameDescription)
        @for (int q = 0; q < item.AllAvailableValues.Count(); q++) {
            @Html.Hidden("filters[" + i + "].AllAvailableValues[" + q + "]", ((IList)item.AllAvailableValues)[q])
        }
        <select class="form-group form-control filters" type="search" multiple="multiple" id=@menuItem.SortFieldName name=@String.Format("filters[{0}].CheckedValues", i++) style="display: none;">
            @for (int q = 0; q < item.AllAvailableValues.Count(); q++) {
                var indElem = ((IList)item.AllAvailableValues)[q];
                <option @(menuItem.CheckedValues.Contains(indElem) ? "selected" : "") value=@indElem>@indElem</option>
            }
        </select>
    </div>
}