@using System.Text.RegularExpressions
@using NaftanRailway.Domain.Concrete.DbContexts.ORC
@model IEnumerable<krt_Naftan_orc_sapod>

@foreach (krt_Naftan_orc_sapod item in Model) {
    <tr class="@((item.sm != item.summa + item.nds)? "danger":(item.ErrorState ==2)?"primary":"")">
        <td class="vert-align">@item.nkrt</td>
        <td class="vert-align">@item.tdoc</td>
        <td class="vert-align vidsbr">@item.vidsbr</td>
        <td class="vert-align">@item.dt.ToString("dd.MM.yyyy")</td>
        <td class="vert-align nomot">@item.nomot</td>
        <td class="text-right vert-align sm_no_nds">@((item.keykrt >= 15072000209229) ? item.sm_no_nds.ToString("#,0.00") : item.sm_no_nds.ToString("#,#"))</td>
        <td class="text-right vert-align sm_nds">@((item.keykrt >= 15072000209229) ? item.sm_nds.ToString("#,0.00") : item.sm_nds.ToString("#,#"))</td>
        <td class="text-right vert-align sm">@((item.keykrt >= 15072000209229) ? item.sm.ToString("#,0.00") : item.sm.ToString("#,#"))</td>
        <td class="text-right vert-align">@item.stnds.ToString(@"#,#0'%'")</td>
        <td class="vert-align" style="white-space: nowrap">@item.txt</td>
        <td class="vert-align text-left" style="min-width: 230px;">@item.namesbr</td>
        <td class="vert-align" style="color: " @((item.ORC_ID_ED != @item.ID_ED) ? "red" : "black")>@item.ORC_ID_ED</td>
        <td class="success vert-align" style="color: " @((item.ORC_ID_ED != @item.ID_ED) ? "red" : "black")>@item.ID_ED</td>
        <td class="success vert-align" style="@(item.textm != null && item.textm.Length>40?@"min-width:320px;":"white-space:nowrap")">@item.textm</td>
        <td class="success vert-align">
            @{if (@item.date_raskr != null) {
                    @((Regex.IsMatch(@item.vidsbr.ToString(), @"30[01]", RegexOptions.IgnoreCase))
                    ? @item.date_raskr.Value.ToString("dd.MM.yyyy HH:mm")
                    : @item.date_raskr.Value.ToString("dd.MM.yyyy"))
              }
            }
        </td>
        <td class="success vert-align">@item.num_doc</td>
        <td class="text-center success vert-align">@((item.kol == null) ? "" : @item.kol.Value.ToString("#,0.00"))</td>
        <td class="text-right success vert-align summa">@((item.summa == null) ? "" : @item.summa.Value.ToString("#,0.00"))</td>
        <td class="text-right success vert-align nds">@((item.nds == null) ? "" : @item.nds.Value.ToString("#,0.00"))</td>
    </tr>
}