@using NaftanRailway.Domain.Concrete.DbContext.ORC
@model IEnumerable<krt_Naftan>
@{ var i = 0;}

@foreach (krt_Naftan item in Model){
    <tr class="@(item.Confirmed ? "" : "success")">
        <td>
            <input type="radio" name="optionsRadios" id="optionsRadios@(i++)" class="radio">
            <input type="hidden" class="hidden confirmed" value="@item.Confirmed.ToString()"/>
        </td>
        <td class="numberScroll">@item.NKRT</td>
        <td>
            @if (item.ErrorState != null){
                <img alt="Состояние проверки"
                        src="@(item.ErrorState.Value == 1 ? "/Content/Images/good_or_tick.png" : item.ErrorState.Value == 2 ? "/Content/Images/repair.png" : "/Content/Images/no.png")"
                        style="width: 24px; height: 24px"/>
            }
        </td>
        <td class="singCorrection"><span class = "@(item.SignAdjustment_list ? "glyphicon glyphicon-ok" : "")"></span></td>
        <td>@item.P_TYPE</td>
        <td class="DTBUHOTCHET">@item.DTBUHOTCHET.ToString("MMMM yyyy")</td>
        <td>@item.NTREB</td>
        <td>@(item.DTTREB == null ? "" : item.DTTREB.Value.ToString("dd.MM.yyyy"))</td>
        <td class="currencyField">@item.SMTREB.ToString("#,#")</td>
        <td class="currencyField">@item.NDSTREB.ToString("#,#")</td>
        <td>@item.StartDate_PER.ToString("dd.MM.yyyy")</td>
        <td>@item.EndDate_PER.ToString("dd.MM.yyyy")</td>
        <td>@String.Join(", ", @item.Scroll_Sbor.Split(','))</td>
        <td>@item.RecordCount</td>
        <td>@item.DATE_OBRABOT</td>
        <td>@(item.CounterVersion == 0 ? "" : item.CounterVersion.ToString())</td>
    </tr>
}