@{
    var browserInfo = ViewBag.BrowserInfo;
    var userName = ViewBag.UserName;
}
<!DOCTYPE HTML>
<html style="width: 100%;">
<head>
    <title>@ViewBag.Title</title>
    <base href="@(string.Format("{0}://{1}{2}Nomenclature/",Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))" />
    <meta name="author" content="P.Chizhikov" />
    <meta name="Description" content="Nomenclature project" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @Styles.Render("~/Content/CSSbundle")
    <!--[if lte IE 9]>@Scripts.Render("~/bundles/CrossBr")<![endif]-->
    @Styles.Render("~/Content/ScrollCSS")
    <link rel="shortcut icon" href="~/Content/Images/Aha-Soft-Transport-Train.ico" type="image/x-icon" />
</head>
<body style="padding-bottom: 20px;">
    <div class="navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-collapse collapse">
                    <div class="col-md-10">
                        <ul class="nav navbar-nav">
                            <li class="dropdown col-lg-2 row">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <b>Журнал Перечней ОРЦ</b><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(@"Регистрация перечня ОРЦ", "Confirmed", "Scroll",
                                       new {
                                           data_bind = "click: $root.registrationScr.bind($root, null), " +
                                                       "attr: {'href':'" + Url.Action("Confirmed", "Scroll") + "/' + $root.currScr().srcKey()}"
                                       })
                                    </li>
                                    <li>
                                        @Html.ActionLink(@"Получить перечни", "AdmitScroll", "Scroll",
                                       new { data_bind = " click: $root.admitScr, attr: {'href':'" + Url.Action("AdmitScroll", "Scroll") + "'}" })
                                    </li>
                                    <li>
                                        @Html.ActionLink(@"Отчёт проверки перечня", "Reports", "Scroll",
                                            new {
                                                data_bind = "click: $root.progressBar().simulationDownload, " +
                                                            "attr: {'href':'" + Url.Action("Reports", "Scroll", new { reportName = "krt_Naftan_Scroll_Compare_Normal" }) + "/' + $root.currScr().srcKey()}"
                                            })
                                    </li>
                                    <li>
                                        @Html.ActionLink(@"Просмотр информации по перечню", "ScrollDetails", new { controller = "Scroll" },
                                            new {
                                                data_bind = "click: $root.viewScrDetails.bind($root, null), " +
                                                            "attr: {'data-ajax': $root.currScr().Confirmed(),'href':'" + Url.Action("ScrollDetails", "Scroll") + "/' + $root.currScr().srcKey()}"
                                            })
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @Html.ActionLink(@"Отчёт Анализ ЭСЧФ по перечню", "Reports", "Scroll",
                                            new {
                                                data_bind = "style: {'pointer-events': $root.currScr().P_TYPE() === 's' ? 'auto' : 'none', " +
                                                                    "'opacity': $root.currScr().P_TYPE() === 's' ? '1' : '0.3'}, " +
                                                             "click: $root.progressBar().simulationDownload, " +
                                                             "attr: {'href':'" + Url.Action("Reports", "Scroll",
                                                new { reportName = "KRT_Analys_ORC" }) + "/' + $root.currScr().srcKey()}"
                                            })
                                    </li>
                                    <li>
                                        @Html.ActionLink(@"Отчёт для бухгалтерии", "Reports", "Scroll",
                                            new {
                                                data_bind = "click: $root.progressBar().simulationDownload, " +
                                            "attr: {'href':'" + Url.Action("Reports", "Scroll", new { reportName = "krt_Naftan_BookkeeperReport" }) + "/' + $root.currScr().srcKey()}"
                                            })
                                    </li>
                                    <li>
                                        @Html.ActionLink(@"Реестр электронного представления перечней", "Reports", "Scroll",
                                            new {
                                                data_bind = "click: $root.progressBar().simulationDownload, " +
                                            "attr: {'href':'" + Url.Action("Reports", "Scroll", new { reportName = "krt_Naftan_act_of_Reconciliation" }) + "/' + $root.currScr().srcKey()}"
                                            })
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @Html.ActionLink(@"Таблица перечней", "Index", new { controller = "Scroll", page = 1 }, new { data_bind = "click: $root.containerRebind" })
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown col-lg-2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <b>Журнал Ведомостей ГУ-46</b><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown col-lg-2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <b>Журнал Актов<br />ГУ-23</b><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu"></ul>
                            </li>
                            <li class="dropdown col-lg-2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <b>Журнал<br />Карточек<br />ФДУ-92</b><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu"></ul>
                            </li>
                            <li class="dropdown col-lg-2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <b>Журнал<br />Заявок<br />ГУ-12</b><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(@"Детализация ГУ-12", "Reports", "Scroll",
                                            new { data_bind = "click: $root.progressBar().simulationDownload, attr: {'href':'" + Url.Action("Reports", "Scroll", new { reportName = "krt_Naftan_Mesplan" }) + "/' + $root.currScr().srcKey()}" })
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav navbar-nav navbar-right">
                            @*<li class="pull-right"><a href="#">Настройка <span class="glyphicon glyphicon-cog"></span></a></li>*@
                            <li class="pull-right"
                                data-bind="popover:{title: 'Поддержка web стандартов', content: '@browserInfo', placement: 'left'}">
                                <a class="text-center" href="#">@userName <span class="glyphicon glyphicon-user"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel row">
        <div class="container-fluid layer">@RenderBody()</div>
    </div>

    @*Loading icon*@
    <div data-bind="visible: $root.loadingState()" class="overlay">
        <div class="overlay content">
            <img alt="Загрузка..." src='@Url.Content("~/Content/Images/Gear.gif")'>
            <h4><strong>Пожалуйста подождите...</strong></h4>
        </div>
    </div>

    <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/JQuery1")
        @Scripts.Render("~/bundles/JQueryUI")
        @Scripts.Render("~/bundles/BootsrapUI")
        @Scripts.Render("~/bundles/Knockout")
    <![endif]-->
    <!--[if !IE 8]><!-->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/JQuery2")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/JQueryUI")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/BootsrapUI")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/Knockout")
    <!--<![endif]-->

    @RenderSection("Scripts", required: false)

    <!--MVC by default not support section in partial views (this's alternative path => html helper-->
    @*@Html.RenderScripts()*@
</body>
</html>