@model ExceptionContext
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="Author" content="P.Chizhikov" />
    <meta charset="utf-8" />
    <title>Произошла ошибка!</title>
    <base href="@(string.Format("{0}://{1}{2}Nomenclature/", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))" />
    <meta name="Description" content="Custom error page" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/cssbundle")
    <link rel="shortcut icon" href="~/Content/Images/Aha-Soft-Transport-Train.ico" type="image/x-icon" />
</head>
<body>
    <div class="container-fluid">
        <h2 class="">Warning exception!</h2>
        <table class="table table-bordered table-responsive table-striped table-hover small">
            <thead>
                <tr><th colspan="2" class="warning">Some infomation about invoke error</th></tr>
            </thead>
            <tbody>
                <tr><th colspan="2" class="text-center info">Model.CurrentContext</th></tr>
                <tr>
                    <th><span>request Url:</span></th>
                    <td>@Model.RequestContext.HttpContext.Request.RawUrl</td>
                </tr>
                <tr>
                    <th><span>User Name:</span></th>
                    <td>@Model.RequestContext.HttpContext.User.Identity.Name</td>
                </tr>
                <tr>
                    <th><span>Auth type:</span></th>
                    <td>@Model.RequestContext.HttpContext.User.Identity.AuthenticationType</td>
                </tr>
                <tr>
                    <th><span>Mashine name:</span></th>
                    <td>@Model.RequestContext.HttpContext.Server.MachineName</td>
                </tr>
                <tr>
                    <th><span>IIS version:</span></th>
                    <td>@Model.RequestContext.HttpContext.Request.ServerVariables["SERVER_SOFTWARE"]</td>
                </tr>
                <tr>
                    <th><span>ASP.NET MVC version:</span></th>
                    <td>@typeof(Page).Assembly.GetName().Version</td>
                </tr>
                <tr>
                    <th><span>.NET Framework version:</span></th>
                    <td>@Environment.Version.ToString()</td>
                </tr>
                <tr>
                    <th><span>time-out (sec):</span></th>
                    <td>@Model.RequestContext.HttpContext.Server.ScriptTimeout</td>
                </tr>
                <tr><th colspan="2" class="text-center info">Model.Controller</th></tr>
                <tr>
                    <th><span>Method that throw current exception:</span></th>
                    <td>@Model.Controller.ControllerContext.RouteData.Values.Keys.Count</td>
                </tr>
                <tr>
                    <th><span>Action:</span></th>
                    <td>@Model.Controller.ControllerContext.RouteData.Values["action"]</td>
                </tr>
                <tr>
                    <th><span>Contorller:</span></th>
                    <td>@Model.Controller.ControllerContext.RouteData.Values["controller"]</td>
                </tr>
                <tr><th colspan="2" class="text-center info">Model.Exception object</th></tr>
                <tr>
                    <th><span>Message of current exception:</span></th>
                    <td>@Model.Exception.Message</td>
                </tr>
                <tr>
                    <th><span>Method that throw current exception:</span></th>
                    <td>@Model.Exception.TargetSite</td>
                </tr>
                <tr>
                    <th><span>Represent of the emmidiate frames  on the call stack:</span></th>
                    <td>@Model.Exception.StackTrace</td>
                </tr>
                <tr>
                    <th><span>Name of app or object that causes the error:</span></th>
                    <td>@Model.Exception.Source</td>
                </tr>

                <tr>
                    <th><span>Help link assoseated with exception:</span></th>
                    <td>@Model.Exception.HelpLink</td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="2" class="warning">Please call me: ##-##</td></tr>
            </tfoot>
        </table>
    </div>
</body>
</html>