@*@model IEnumerable<ShippingDTO>*@
@{
    Layout = null;
    //int i = (int)(ViewData["index"] ?? 0);
}

<!-- ko foreach: $root.dispatchs -->
<div class="panel panel-default col-lg-12" data-bind="attr: {id: 'myPanel' + $index}">
    <div class="panel-heading small row small">
        <div class="col-lg-2 row">
            <ul class="list-inline text-capitalize">
                <li class="panel-title">
                    <span data-bind="css: directionGlyphicon"></span>
                    <a data-bind="attr: {'href': '#' + $index}, text: $data.shInfoExists ? $data.VOtpr.n_otpr() : 'Доп. сбор'" data-toggle="collapse"></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 row">
            <!-- ko if: $data.shInfoExists -->
            <ul class="list-inline text-center">
                <li><strong>От:</strong><span data-bind="text: $data.fullNameSender()"></span></li>
                <li><span class="glyphicon glyphicon-arrow-right"></span></li>
                <li><strong>Кому:</strong><span data-bind="text: $data.fullNameReceiver()"></span></li>
                @*<li><strong>Груз:</strong> @String.Join(", ", sh.Etsng)<span class="small">(ЕТСНГ: @sh.VOtpr.cod_tvk_etsng)</span></li>*@
                <li><strong>Склад:</strong><span data-bind="text: $data.Guild18.warehouse()"></span></li>
            </ul>
            <!-- /ko -->
            <!-- ko ifnot: $data.shInfoExists -->
            <p data-bind="text:$data.KNaftan()[0].U_KOD() === 2 ? 'Багаж ст. Витебск' : 'Прохождение проверки знаний'"
               style="font-size: 1.5em; vertical-align: middle; text-align: center;">
            </p>
            <!-- /ko -->
        </div>
        <div class="col-lg-0 text-right pull-right">
            <button data-bind="click: $root.deleteInvoice.bind($data, { url : '@Url.Action("DeleteDocInfo", "Ceh18")'}), attr: {'id' : 'btn' + $index.toString()}" class="btn btn-sm btn-link btn-warning">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
    <div data-bind="attr: {'id' : $index.toString()}" class="collapse row">
        <div class="panel-body">
            @*@if (sh.VOtpr != null) {
                    <ul class="list-inline text-center small">
                        @if (sh.Vovs.Any()) {
                            <li><strong>Вагон(ы) №:</strong> @String.Join(", ", sh.Vovs)</li>
                        }
                        @if (sh.VPams.Any()) {
                            <li><strong>Ведомости:</strong> @String.Join(", ", sh.VPams.Select(x => x.nved))</li>
                        }
                        @if (sh.VAkts.Any()) {
                            <li><strong>Акты:</strong> @String.Join(", ", sh.VAkts.Select(x => x.nakt))</li>
                        }
                        @if (sh.VKarts.Any()) {
                            <li><strong>Накопительные карточки:</strong> @String.Join(", ", sh.VKarts.Select(x => x.num_kart))</li>
                        }
                        @if (sh.KNaftan.Any()) {
                            <li><strong>Перечни:</strong> @String.Join(", ", sh.KNaftan.Select(x => x.NKRT))</li>
                        }
                        @if (sh.VOtpr.g6.Length > 0) {
                            <li><strong>Договор:</strong> @sh.VOtpr.g6</li>
                        }
                        @if (sh.VOtpr.g11.Length > 0) {
                            <li><strong>Описание:</strong> @sh.VOtpr.g11</li>
                        }
                    </ul>
                } else {
                    <div>
                        <ul class="list-inline text-center small">
                            @if (sh.VKarts.Any()) {
                                <li><strong>Накопительные карточки:</strong> @String.Join(", ", sh.VKarts.Select(x => x.num_kart))</li>
                            }
                            @if (sh.KNaftan.Any()) {
                                <li><strong>Перечни:</strong> @String.Join(", ", sh.KNaftan.Select(x => x.NKRT))</li>
                            }
                        </ul>
                    </div>
                }*@
        </div>
        <div class="panel-footer small">
            <ul class="list-inline">
                @*@if (sh.VOtpr != null) {
                        <li class="pull-left">
                            @(sh.VOtpr.oper == 1 ? "Отправка" : "Прибытие")
                            @(sh.VOtpr.date_oper != null ? sh.VOtpr.date_oper.Value.ToString("d MMM yyyy") : "Не указана")
                        </li>
                        <li class="pull-right">@sh.VOtpr.fio_tk</li>
                    } else {
                        <li class="pull-left">
                            <span>Дополн. сбор</span>
                            @(sh.KNaftan != null ? @String.Join(", ", sh.KNaftan.Select(x => x.EndDate_PER.ToString("d MMM yyyy"))) : "Не указана")
                        </li>
                    }*@
            </ul>
        </div>
    </div>
</div>
<!-- /ko -->