<tr data-bind="click: $root.chooseScr, css: {'success': Confirmed === false }">
    <td>
        <input data-bind="attr: {'value': $index, 'checked': $data.active() }" type="radio" name="optionsRadios" class="radio">
        @*<input data-bind="attr: { 'value': Confirmed()}" type="hidden" class="hidden confirmed" />*@
    </td>
    <td data-bind="text: NKRT" class="numberScroll"></td>
    <td>
        <img style="width: 24px; height: 24px" bind-data="attr: {'src': '@Url.Content("~/Content/Images/good_or_tick.png")'}">
        @*attr: {'alt' : $data.ErrorState() == 1 ? 'Ok' : $data.ErrorState() == 2 ? 'tdoc=0' : 'Ошибка',
            'src' : $data.ErrorState() == 1 ? /Content/Images/good_or_tick.png : $data.ErrorState() == 2 ? /Content/Images/repair.png : /Content/Images/no.png }" />*@
    </td>
    @*   <td class="singCorrection"><span class="@(item.SignAdjustment_list ? "glyphicon glyphicon-ok" : "")"></span></td>
        <td>@item.P_TYPE</td>
        <td class="DTBUHOTCHET">@item.DTBUHOTCHET.ToString("MMMM yyyy")</td>
        <td>@item.NTREB</td>
        <td>@(item.DTTREB == null ? "" : item.DTTREB.Value.ToString("dd.MM.yyyy"))</td>
        <td class="currencyField text-right">@Html.DenominationScroll(item.KEYKRT, item.SMTREB)</td>
        <td class="currencyField text-right">@Html.DenominationScroll(item.KEYKRT, item.NDSTREB)</td>
        <td>@item.StartDate_PER.ToString("dd.MM.yyyy")</td>
        <td>@item.EndDate_PER.ToString("dd.MM.yyyy")</td>
        <td>@String.Join(", ", @item.Scroll_Sbor.Split(','))</td>
        <td>@item.RecordCount</td>
        <td>@item.DATE_OBRABOT</td>
        <td>@(item.CounterVersion <= 1 ? "" : item.CounterVersion.ToString())</td>*@
</tr>