@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = @"Перечни";
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);
}
<!-- ko with: $root.alert -->
<div data-bind="alert: {statusMsg: statusMsg, alertType: alertType, mode: mode}, 
                css: 'alert fade in ' + alertType()" 
     style="display: none">
</div>
<!-- /ko -->
<!--It's container for SSRS reports-->
<iframe data-bind="visible: SSRSMode()" id="SSRSContainer" name="SSRSContainer" 
        style="display: none; width: 100%; height: 100%; border: none; margin-top: 0%; margin: auto; position: absolute;">
</iframe>
<div data-bind="visible: !SSRSMode()" id="koContainer" class="container-fluid">
    @{ Html.RenderPartial("_AjaxTableKrtNaftan");}
</div>

<!--Date Modal (had some close effect when use link root $root.periodModal.active instead of ....active() )-->
<div data-bind="modal: $root.periodModal.active(), if:$root.periodModal.active()" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="dateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="click: $root.periodModal.active.bind($data,false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Изменение отчётной даты</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @using (Html.BeginForm("ChangeDate", "Scroll", FormMethod.Post, new { @class = "form-inline navbar-form", role = "form", data_bind = "submit: $root.updatePeriod" })) {
                        <div class="form-group col-lg-6">
                            <div data-bind="datepicker: { observable: $data.periodModal.period }" class="input-group date">
                                    @Html.TextBox("ReportPeriod", null, new { @class = "form-control", @readonly = "readonly", type = "text" })
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="pull-right">
                            @Html.ActionLink("Отчёт", "Reports", null, new { @class = "btn btn-default", id = "reportShow", data_bind = "attr: {'href':'Scroll/Reports/krt_Naftan_Scroll_Compare_Normal/' + $root.currScr().srcKey()}" })
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left col-lg-6 row" id="multiDateRadio">
                    <label data-bind="popover: {title: 'Режим выполения процедуры', content: 'Будет ли изменена отчётная дата только текущего перечня либо тажке всех последующих', placement: 'right'}" class="checkbox-inline pull-left">
                        <input data-bind="checked: $root.periodModal.multiMode" type="checkbox"><span>Пакетное изменение</span>
                    </label>
                </div>
                <!--Unobstrusive requered-->
                <div class="col-lg-6">
                    @*@Html.ValidationMessageFor(m => m.ReportPeriod, "Неверная дата")*@
                    @Html.ValidationMessage("ReportPeriod", "Неверная дата", new { data_bind = "text: $root.currScr().DTBUHOTCHET()" })
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Wait Modal-->
<div data-bind="modal: $root.progressBar().mode" class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="waitModalLabel">Идет формирование отчётности. Пожалуйста подождите....</h4>
            </div>
            <div class="modal-body">
                <div data-bind="progressBar: {}" class="progress"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/UserNomenclature")
    <![endif]-->
    <!--[if !IE 8]><!-->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/UserNomenclature")
    <!--<![endif]-->
}