@model NaftanRailway.WebUI.Areas.NomenclatureScroll.Models.DetailModelView
@{
    ViewBag.Title = ViewBag.Title ?? "Сборы по перечням";
    Layout = "../Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);
}
<div id = "ScrollTable">@{ Html.RenderPartial("_AjaxTableKrtNaftan_ORC_SAPOD", @Model);}</div>

<!-- Large modal (for edit row) -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="EditModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel"></h4>
          </div>
          <div class="modal-body text-center" style="vertical-align: middle;">
              <div class="row">
                  <div class="col-lg-offset-4 col-lg-3"><strong>Значение<br/>ОРЦ: </strong>
                  </div>
                  <div class="col-lg-3"><strong>Значение<br/>САПОД: </strong>
                  </div>
              </div>
              <hr style="margin: 5px"/>
              @using (Ajax.BeginForm("ScrollCorrection", "Scroll", new AjaxOptions(){
                  OnFailure = "UpdateFailure",
                  OnSuccess = "FixUpdate",
                  //OnComplete = "",
                  //OnBegin = ""
                  //UpdateTargetId = "chargeOfList",
                  //InsertionMode = InsertionMode.Replace,
                  //LoadingElementId = "loadingInfiniteScroll",
                  //LoadingElementDuration =1200,
                  HttpMethod = "Post",
                  Url = @Url.Action("ScrollCorrection", "Scroll")
              },new {@class = "", role = "form", id = "CorrectionForm"})){
                   @Html.HiddenFor(x=>x.CollDetails.First().nomot)
                   @Html.HiddenFor(x=>x.CollDetails.First().vidsbr)
                   @Html.HiddenFor(x=>x.CollDetails.First().sm_nds)
                   @Html.HiddenFor(x=>x.CollDetails.First().sm)
                  <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-1 col-lg-3">
                          @Html.Label("", "Сумма с НДС: ", new {@class = "lead"})
                      </div>
                      <div class="col-lg-3">@Html.LabelFor(x=>x.CollDetails.First().sm , new {@class = "form-control-static"})</div>
                      <div class="col-lg-3">
                         @* @Html.TextBox("summa_with_nds", "",new {@class = "form-control", style = "text-align: center;"})*@
                          @Html.LabelFor(x => x.CollDetails.First().summa, new { @class = "form-control-static"})
                      </div>
                  </div>
                <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-2 col-lg-2">
                          @Html.Label("", "Сумма: ", new { @class = "lead" })
                      </div>
                      <div class="col-lg-3">@Html.LabelFor(x => x.CollDetails.First().sm_no_nds, new { @class = "form-control-static"})</div>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(x => x.CollDetails.First().summa, new { @class = "form-control", style = "text-align: center;" })
                      </div>
                  </div>
                  <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-2 col-lg-2">
                          @Html.Label("", "НДС: ", new { @class = "lead" })
                      </div>
                      <div class="col-lg-3 text-center">@Html.Label("sm_nds", new { @class = "form-control-static"})</div>
                      <div class="col-lg-3">
                          @*@Html.TextBox("nds",(Model.First().nds == null)? "": Model.First().nds.ToString(),new {@class = "form-control", style = "text-align: center;"})*@
                          @Html.TextBoxFor(x => x.CollDetails.First().nds, new { @class = "form-control", style = "text-align: center;" })
                      </div>
                  </div>
                  <div class="modal-footer">
                      @*@Html.ValidationSummary()*@
                      <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                      <button type="submit" class="btn btn-primary">Применить</button>
                  </div>
              }
          </div>
        </div>
  </div>
</div>                       