@using NaftanRailway.Domain.Concrete.DbContext.ORC;
@using NaftanRailway.WebUI.HtmlHelpers
@using System.Text.RegularExpressions;
@using NaftanRailway.WebUI.ViewModels
@model IEnumerable<krt_Naftan_orc_sapod>
@{
    ViewBag.Title = ViewBag.Title ?? "Сборы по перечням";
    Layout = "../Shared/_Layout.cshtml";
    PagingInfo pageInfo = ViewBag.PagingInfo;
    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(true);    
}
<h3 class="text-center control-label">Перечень № @ViewBag.nper
    <span class="small">(поступил в электронном виде из ОРЦ @ViewBag.date_obrabot.ToShortDateString() г.)</span>
    <span class="hidden" id="key">@ViewBag.nper</span>
    <span class="hidden" id="scrollDate">@ViewBag.DtBuhOtchet.Year</span>
</h3>
    <table id="DetailsTable" class="small table table-hover table-responsive table-striped table-condensed table-bordered">
        <thead class="tableHeader">
        <tr>
            <th class="text-center">Карточка<br/>(NKRT)<span class="glyphicon glyphicon-filter"></span></th>
            <th class="text-center">Тип<br/><span style ="white-space: nowrap">док.</span><span class="glyphicon glyphicon-filter"></span></th>
            <th class="text-center">Вид<br/><span style ="white-space: nowrap">сбора<span class="glyphicon glyphicon-filter"></span></span></th>
            <th class="text-center">DT</th>
            <th class="text-center">NOMOT</th>
            <th class="text-center">Сумма без НДС</th>
            <th class="text-center">Сумма НДС</th>
            <th class="text-center">Сумма</th>
            <th class="text-center">Ставка НДС</th>
            <th class="text-center">txt<br/>OРЦ</th>
            <th class="text-center">Наименование сбора</th>
            <th class="text-center">ID_ED<br/>ОРЦ</th>
            <th class="text-center">ID_ED<br/>САПОД</th>
            <th class="text-center">textm<br/>САПОД</th>
            <th class="text-center">date<br/>raskr</th>
            <th class="text-center">num_doc</th>
            <th class="text-center">kol</th>
            <th class="text-center">summa</th>
            <th class="text-center">nds</th>
        </tr>
        </thead>
        <tbody class="text-center" id="chargeOfList">
            @{ Html.RenderPartial("_AjaxKrtNaftan_ORC_SAPOD_Row", @Model);}
        </tbody>
    </table>
<div id="loadingInfiniteScroll" class="text-center" style="display: none">
    <img alt="Загрузка..." src='@Url.Content("~/Content/Images/Gear.gif")'>
</div>
@if(Request.UserAgent != null && Regex.IsMatch(Request.UserAgent,@"MSIE 7")){
    <div class="bottom-right pull-right">
        @Html.PageLinks(pageInfo, 21, x => Url.RouteUrl("DetailsRoutesWithParams", 
            new RouteValueDictionary(){
                {"numberScroll",ViewBag.nper},
                {"reportYear",@ViewBag.DtBuhOtchet.Year},
                {"page", x}
            }))
    </div>
}
<!-- Large modal (for edit row) -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="EditModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel"></h4>
          </div>
          <div class="modal-body text-center" style="vertical-align: middle;">
              <div class="row">
                  <div class="col-lg-offset-4 col-lg-3"><strong>Значение<br/>ОРЦ: </strong>
                  </div>
                  <div class="col-lg-3"><strong>Значение<br/>САПОД: </strong>
                  </div>
              </div>
              <hr style="margin: 5px"/>
              @using (Ajax.BeginForm("ScrollCorrection", "Scroll", new AjaxOptions(){
                  OnFailure = "UpdateFailure",
                  OnSuccess = "FixUpdate",
                  //OnComplete = "",
                  //OnBegin = ""
                  //UpdateTargetId = "chargeOfList",
                  //InsertionMode = InsertionMode.Replace,
                  //LoadingElementId = "loadingInfiniteScroll",
                  //LoadingElementDuration =1200,
                  HttpMethod = "Post",
                  Url = @Url.Action("ScrollCorrection", "Scroll")
              },new {@class = "", role = "form", id = "CorrectionForm"})){
                   @Html.HiddenFor(x=>x.First().nomot)
                   @Html.HiddenFor(x=>x.First().vidsbr)
                   @Html.HiddenFor(x=>x.First().sm_nds)
                   @Html.HiddenFor(x=>x.First().sm)
                  <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-1 col-lg-3">
                          @Html.Label("", "Сумма с НДС: ", new {@class = "lead"})
                      </div>
                      <div class="col-lg-3">@Html.LabelFor(x=>x.First().sm , new {@class = "form-control-static"})</div>
                      <div class="col-lg-3">
                         @* @Html.TextBox("summa_with_nds", "",new {@class = "form-control", style = "text-align: center;"})*@
                          @Html.LabelFor(x => x.First().summa, new { @class = "form-control-static"})
                      </div>
                  </div>
                <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-2 col-lg-2">
                          @Html.Label("", "Сумма: ", new { @class = "lead" })
                      </div>
                      <div class="col-lg-3">@Html.LabelFor(x => x.First().sm_no_nds, new { @class = "form-control-static"})</div>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(x => x.First().summa, new { @class = "form-control", style = "text-align: center;" })
                      </div>
                  </div>
                  <div class="row form-inline top-buffer">
                      <div class="col-lg-offset-2 col-lg-2">
                          @Html.Label("", "НДС: ", new { @class = "lead" })
                      </div>
                      <div class="col-lg-3 text-center">@Html.Label("sm_nds", new { @class = "form-control-static"})</div>
                      <div class="col-lg-3">
                          @*@Html.TextBox("nds",(Model.First().nds == null)? "": Model.First().nds.ToString(),new {@class = "form-control", style = "text-align: center;"})*@
                          @Html.TextBoxFor(x => x.First().nds, new { @class = "form-control", style = "text-align: center;" })
                      </div>
                  </div>
                  <div class="modal-footer">
                      @*@Html.ValidationSummary()*@
                      <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                      <button type="submit" class="btn btn-primary">Применить</button>
                  </div>
              }
          </div>
        </div>
  </div>
</div>                       