@using NaftanRailway.Domain.Concrete.DbContext.ORC;
@model IEnumerable<krt_Naftan_orc_sapod>
@{
    ViewBag.Title = "Сборы по перечням";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="small">
        <table class="small table table-hover table-responsive table-striped table-condensed table-bordered">
            <thead class="">
                <tr>
                    <th class="text-center">№ Отпавки</th>
                    <th class="text-center">Груз</th>
                    <th class="text-center">Дата операции</th>
                    <th class="text-center">Дата бух. отчетности</th>
                    <th class="text-center">Стоимость услуг без НДС, руб.</th>
                    <th class="text-center">НДС, руб.</th>
                    <th class="text-center">Общая сумма</th>
                    <th class="text-center">% НДС</th>
                    <th class="text-center">Код сбора</th>
                    <th class="text-center">Наименование сбора</th>
                    <th class="text-center">Карточка</th>
                    <th class="text-center">Тип операции</th>
                    <th class="text-center">Дата обработки</th>
                    <th class="text-center">Тип документа</th>
                    <th class="text-center">ORC Id_Ed</th>
                    <th class="text-center">Дата раскрытия</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Кол-во</th>
                    <th class="text-center">Сумма</th>
                    <th class="text-center">НДС</th>
                    <th class="text-center">Примечание</th>
                    <th class="text-center">Id_Ed</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (krt_Naftan_orc_sapod item in Model) {
                    <tr>
                        <td>@item.nomot <span class="hidden key">@item.keykrt</span></td>
                        <td>@item.gruname</td>
                        <td>@item.dt.ToString("MMMM yyyy")</td>
                        <td>@item.DtBuhOtchet.ToString("dd.MM.yyyy"))</td>
                        <td>@item.sm_no_nds.ToString("#,#")</td>
                        <td>@item.sm_nds.ToString("#,#")</td>
                        <td>@item.sm.ToString("#,#")</td>
                        <td>@item.stnds.ToString("#,#%")</td>
                        <td>@item.vidsbr</td>
                        <td>@item.namesbr</td>
                        <td>@item.nkrt</td>
                        <td>@item.p_type</td>
                        <td>@item.date_obrabot.ToString("Y")</td>
                        <td>@item.tdoc</td>
                        <td>@item.ORC_ID_ED</td>
                        <td>@(item.date_raskr == null ? "" : item.date_raskr.Value.ToString("dd.MM.yyyy"))</td>
                        <td>@(item.cena == null ? "" : item.cena.Value.ToString("#,#"))</td>
                        <td>@item.kol</td>
                        <td>@(item.summa == null ? "" : item.summa.Value.ToString("#,#"))</td>
                        <td>@(item.nds == null ? "" : item.nds.Value.ToString("#,#"))</td>
                        <td>@item.textm</td>
                        <td>@item.ID_ED</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
